$fuentePrincipal: Arial, Helvetica, sans-serif;

$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

$primario: #e50914;
$secundario: #e87c03;
$gris: #323232;
$gris2: #8c8c8c;
$gris3: #454545;
$blanco: #ffff;
$negro: #000000;

$radius: 5px;
